<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lovelace - Bootstrap</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Lovelace</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#shop">Loja</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Desenvolvedoras</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">LOVELACE</div>
                <div class="intro-heading">As melhores maquiagens você encontra aqui!</div>
                <a href="#" class="page-scroll btn btn-xl">Ir à loja</a>
                <a href="#" class="page-scroll btn btn-xl">Ir ao Blog</a>
            </div>
        </div>
    </header>

   <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre</h2>
                    <h3 class="section-subheading text-muted">
                        <p align="centre">Maquiagem é um acessório muito utilizado, principalmente por mulheres, tanto no dia-a-dia quanto em eventos especiais. Porém, se maquiar não é tão fácil assim! 
                        <br>Existem diversos produtos, em suas devidas categorias, que podem ser utilizados. Além disso, há uma maneira e uma ordem correta para aplicá-los. 
                        <br>Sendo assim, o objetivo deste website é, através do blog, com o uso de tutoriais em vídeo, imagens e/ou textos, ensinar as pessoas a melhor maneira de utilização de cada produto ou de um conjunto deles; e, através da loja, vender maquiagens.</p>
                </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Um pouco
                                    <br>da nossa
                                    <br>história</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/womam.jpg" alt="Womam Image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Março 2015</h4>
                                    <h4 class="subheading">Um grupo 100% feminino</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted", align="justify">Através da disciplina Desenho de Software, no curso de Engenharia de Software, da Universidade de Brasília, foi criado o grupo de desenvolvimento da aplicação. O mesmo é composto inteiramente por mulheres.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/ada_lovelace.jpg" alt="Ada Lovelace Image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Março 2015</h4>
                                    <h4 class="subheading">Criação do nome da loja</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted", align="justify">Ada Lovelace (1815-1852) foi uma grande matemática de sua época. É considerada por muitos como a primeira programadora de computação, em virtude de ter sido ela a criadora do primeiro algoritmo a ser lido por uma máquina. A fim de prestar uma homenagem a esta grande mulher, optou-se por nomear a loja de Lovelace.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/logo.png" alt="Logo Image">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Março 2015</h4>
                                    <h4 class="subheading">Uma logo é inventada</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted", align="justify">Através do pensamento da junção de maquiagem com o nome Lovelace são, então, apresentadas diversas opções de logo. A escolhida é composta pelo nome juntamente com um beijo de batom na cor rosa.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossa maravilhosa equipe!</h2>
                    <h3 class="section-subheading text-muted">Uma equipe inteiramente feminina</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="assets/team/attany.jpg" class="img-responsive img-circle" alt="Time: Attany">
                        <h4>Attany Nathaly</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/attanynathaly"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://github.com/Attany"><i class="fa fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="assets/team/elaine.jpg" class="img-responsive img-circle" alt="Time: Elaine">
                        <h4>Elaine Cristina Meirelles</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/elainec.meirelles"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://github.com/ecmeirelles"><i class="fa fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="assets/team/tainara.jpg" class="img-responsive img-circle" alt="Time: Tainara">
                        <h4>Tainara Reis</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/tainarasr"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://github.com/tainarareis"><i class="fa fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="assets/team/vanessa.jpg" class="img-responsive img-circle" alt="Time: Vanessa">
                        <h4>Vanessa de Andrade</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/vannessaandrade"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://github.com/vannessasoares"><i class="fa fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Entre em contato</h2>
                    <h3 class="section-subheading text-muted">Dúvidas, Reclamações ou Sugestões
                        <br>
                        <br><b>Os campos com * são obrigratórios</b>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome completo *" id="name" required data-validation-required-message="Por favor, digite seu nome">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Por favor, digite seu endereço de email">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefone *" id="phone" required data-validation-required-message="Por favor, digite seu telefone de contato">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensagem *" id="message" required data-validation-required-message="Por favor, digite sua mensagem"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Lovelace 2015</span>
                </div>

                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>

